xdk==0.5.0
mailjet-rest==1.5.1
google-genai==1.56.0
groq==1.0.0
requests==2.32.5
python-dotenv==1.2.1
Jinja2==3.1.6
beautifulsoup4==4.14.3
markdown==3.10
requests-mock==1.12.1
tenacity==9.1.2
playwright==1.57.0
playwright-stealth==2.0.0
json-repair==0.55.0

